<div class="container --no-margin">
    <div class="container__element col-1-3 --no-height-margin">
        <div class="container panel --no-height-padding --color-white text-center">
            <a class="container__element panel__button --no-height-padding col-1-2" routerLink='../' routerLinkActive="disabled">Welcome</a>
            <a class="container__element panel__button --no-height-padding col-1-2" routerLink='/accounts/main' routerLinkActive="disabled">Accounts</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>