<div class="container --no-margin" *ngIf="userService.isAuth()">
    <div class="container__element col-2-3 --no-height-margin">
        <div class="container panel --no-height-padding --color-white text-center">
            <a class="container__element panel__button --no-height-padding col-1-4" routerLink='./tasks/create' routerLinkActive="disabled">Add task</a>
            <a class="container__element panel__button --no-height-padding col-1-4" routerLink='./tasks' routerLinkActive="disabled">Tasks</a>
        </div>
    </div>
</div>

<h2>Information about {{project.name}}</h2>
<div class="container">
    
    <div class="container__element col-2-3">
        <form class="container --column --wrap form" method="post" #form="ngForm">

            <div class="form__inner">

                <div class="form__inner__field">
                    <h4>Name</h4>
                    <input 
                        disabled
                        type="text" 
                        maxlength="90" 
                        placeholder="Enter name" 
                        name="name" 
                        [(ngModel)]="project.name"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Deadline</h4>
                    <input 
                        type="date"
                        disabled
                        min="{{project.creationDate}}"
                        max="2030-01-02"
                        placeholder="Enter new deadline" 
                        name="deadline" 
                        [(ngModel)]="project.deadline"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Importance</h4>
                    <select disabled [(ngModel)]="project.importance">
                        <option value="25">Low</option>
                        <option value="50">Normal</option>
                        <option value="75">Important</option>
                        <option value="100">Very important</option>
                    </select>
                </div>

                <div class="form__inner__field">
                    <h4>State</h4>
                    <select disabled [(ngModel)]="project.finished">
                        <option value="0">In process</option>
                        <option value="1">Finished</option>
                    </select>
                </div>

                <div class="form__inner__buttons container">
                    <div class="container__element col-1-2">
                        <button>
                            <a routerLink='../'>Back</a>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>