<h2>Sign in</h2>

<div class="container">

    <div class="container__element col-2-3 text-center">
        <div class="container">
            <div class="container__element col-1-2 panel">
                <div class="container --wrap">
                    <div class="container__element col-12">
                        <img src="src/app/assets/img/user.png" alt="Image">                
                    </div>
                    <div class="container__element col-12">
                        <a routerLink='../user' routerLinkActive="disabled">
                            <h3>User</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container__element col-1-2 panel">
                <div class="container --wrap">
                    <div class="container__element col-12">
                        <img src="src/app/assets/img/users.png" alt="Image">
                    </div>
                    <div class="container__element col-12">
                        <a routerLink='../company' routerLinkActive="disabled">
                            <h3>Company</h3>
                        </a>        
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>