<h2>Update task</h2>
<div class="container">
    
    <div class="container__element col-2-3">
        <form class="container --column --wrap form" method="post" #form="ngForm">

            <div class="form__inner">

                <div class="form__inner__field">
                    <h4>Name</h4>
                    <input 
                        required 
                        type="text" 
                        maxlength="90" 
                        placeholder="Enter name" 
                        name="name" 
                        [(ngModel)]="task.name"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Description</h4>
                    <textarea 
                        required 
                        maxlength="225" 
                        placeholder="Enter description" 
                        name="description" 
                        [(ngModel)]="task.description"
                    ></textarea>
                </div>

                <div class="form__inner__field">
                    <h4>Importance</h4>
                    <select required [(ngModel)]="task.importance">
                        <option value="25">Low</option>
                        <option value="50">Normal</option>
                        <option value="75">Important</option>
                        <option value="100">Very important</option>
                    </select>
                </div>

                <div class="form__inner__field">
                    <h4>Comlexity</h4>
                    <select required [(ngModel)]="task.complexity">
                        <option value="25">Easy</option>
                        <option value="50">Normal</option>
                        <option value="75">Difficult</option>
                        <option value="100">Very difficult</option>
                    </select>
                </div>

                <div class="form__inner__field">
                    <h4>Urgency</h4>
                    <select required [(ngModel)]="task.urgency">
                        <option value="25">Low</option>
                        <option value="50">Normal</option>
                        <option value="75">High</option>
                        <option value="100">Very high</option>
                    </select>
                </div>

                <div class="form__inner__buttons container">
                    <div class="container__element col-1-2">
                        <button [disabled]="!form.valid" (click)="updateTask()"><a>Update</a></button>
                    </div>
                    <div class="container__element col-1-2">
                        <button>
                            <a routerLink='../'>Cancel</a>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>