<h2>Select action</h2>

<div class="container">

    <div class="container__element col-2-3 text-center">
        <div class="container">
            <div class="container__element col-1-2 panel">
                <div class="container --wrap">
                    <div class="container__element col-12">
                        <img src="src/app/assets/img/login.png" alt="Image">                
                    </div>
                    <div class="container__element col-12">
                        <a routerLink='../login' routerLinkActive="disabled">
                            <h3>Sign in</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container__element col-1-2 panel">
                <div class="container --wrap">
                    <div class="container__element col-12">
                        <img src="src/app/assets/img/register.png" alt="Image">
                    </div>
                    <div class="container__element col-12">
                        <a routerLink='../registration' routerLinkActive="disabled">
                            <h3>Sign up</h3>
                        </a>        
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>