.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;

    font-size: 16px;
}

navigation {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.inner {
    margin-top: 50px;
}

page-footer {
    margin-top: auto;
}