.form {
    padding: 15px;
    border:1px solid #2C3E50;
    background: #CCDFD1;
    border-radius: 2px;
    text-align: center;

    max-width: 800px;
}

.--another-color {
    background: #1ABC9C;
}

.form__inner__field h4, .form__inner__field input  {
    width: 100%;
    margin: 5px 2px;
}

.form__inner__buttons button {
    border: 1px solid #09464c;
    background-color: #0C555C;
    color: #ECF0F1;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;

    max-width: 80px;
}

.form__inner__field input  {
    border-radius: 3px;
    border: 0.5px solid #2C3E50;
    background-color: #CCDFCC;
    color: #2C3E50;
    font-size: 17px;
    padding: 8px 16px;
}

.form__inner__buttons a, .form__inner__buttons a:visited {
    color: #CCDFCC;
}

.form__inner__buttons a:hover, .form__inner__buttons a:target {
    transition: all 0.2s ease;
    color: #e54c26;
} 

.form__inner__buttons a:disabled {
    cursor: not-allowed;
}

.form__inner__field input::-webkit-input-placeholder {color:rgba(44, 62, 80, 0.80)}
.form__inner__field input::-moz-placeholder          {color:rgba(44, 62, 80, 0.80)}/* Firefox 19+ */
.form__inner__field input:-moz-placeholder           {color:rgba(44, 62, 80, 0.80)}/* Firefox 18- */
.form__inner__field input:-ms-input-placeholder      {color:rgba(44, 62, 80, 0.80)}  