<h2>Create resume</h2>
<div class="container">
    
    <div class="container__element col-2-3">
        <form class="container --column --wrap form" method="post" #form="ngForm">

            <div class="form__inner">

                <div class="form__inner__field">
                    <h4>First name</h4>
                    <input 
                        required 
                        type="text" 
                        maxlength="90" 
                        placeholder="Enter first name" 
                        name="firstName" 
                        [(ngModel)]="resume.firstName"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Last name</h4>
                    <input 
                        required 
                        type="text" 
                        maxlength="45" 
                        placeholder="Enter last name" 
                        name="lastName" 
                        [(ngModel)]="resume.lastName"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Middle name (Not required)</h4>
                    <input 
                        type="text" 
                        maxlength="90" 
                        placeholder="Enter middle name" 
                        name="middleName" 
                        [(ngModel)]="resume.name"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Birthday date</h4>
                    <input 
                        type="date"
                        min="1960-01-02"
                        max="2001-01-02"
                        placeholder="Enter birthday date" 
                        name="birthdayDate" 
                        [(ngModel)]="resume.birthdayDate"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Address</h4>
                    <input 
                        required 
                        type="text" 
                        maxlength="45" 
                        placeholder="Enter last name" 
                        name="lastName" 
                        [(ngModel)]="resume.lastName"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Martial status</h4>
                    <select required [(ngModel)]="resume.martialStatus">
                        <option>Single</option>
                        <option>Married</option>
                    </select>
                </div>

                <div class="form__inner__field">
                    <h4>Description</h4>
                    <textarea 
                        required
                        type="text" 
                        maxlength="45" 
                        name="description" 
                        [(ngModel)]="resume.description"
                    >
                    </textarea>
                </div>

                <div class="form__inner__field">
                    <h4>Address</h4>
                    <input 
                        required 
                        type="text" 
                        maxlength="225" 
                        placeholder="Enter address" 
                        name="address" 
                        [(ngModel)]="resume.address"
                    >
                </div>

                <div class="form__inner__field">
                    <h4>Password</h4>
                    <input 
                        required 
                        type="password" 
                        maxlength="90" 
                        placeholder="Enter password to continue" 
                        name="repPass" 
                        [(ngModel)]="rePass"
                    >
                </div>

                <div class="form__inner__buttons container">
                    <div class="container__element col-1-2">
                        <button [disabled]="!form.valid" (click)="editResume()"><a>Edit</a></button>
                    </div>
                    <div class="container__element col-1-2">
                        <button>
                            <a routerLink='../'>Cancel</a>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>